@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html{
	
  font-family: "Tinos", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  
 background-image: url("https://www.transparenttextures.com/patterns/arches.png");prototyping; please download the pattern and re-host for production environments. Thank you! */
}
@media (min-width: 760px) {
	.container-2 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.container-1 {

		display: flex;

	}

}
*{
	/* border:1px solid red; */
	/* padding:0;
	margin:0; */
}
:root{
	--color-primary:#8FBC8F;
}

body {
	color: #2F4F4F;
	display:flex;
	place-content:center;
	place-items:center;
	flex-direction:column;
	/* padding:5rem; */
}

h1 {
	text-shadow: 2px 2px var(--color-primary);
	place-content:center;
	place-items:center;
	flex-direction:column;
}

h3 {
	text-shadow: 2px 2px #8FBC8F;
}

.bulletpoint {
	list-style-type: square;
}

.unb {
	text-decoration: underline;
	font-weight: bold;
}

a {
	color: #8FBC8F;
	transition: all .5s;
}
a:hover {
	color:red;
	text-underline-offset: .5rem;
}
.container-2 {
	display: flex;
	flex-direction: column;

}

.container-2 div {

	border: 2px #8FBC8F solid;
	padding: 10px;
	margin: 10px;
}

.cont-2-box {
	flex-basis: 25%
}

.container-1 {
	display: flex;

}

.container-1 div {

	border: 2px #8FBC8F solid;
	padding: 10px;
}

.box-1 {
	flex: 1;

}

.box-2 {
	flex: 1;

}

.box-3 {
	flex: 1;

}

#logo {
	width: 50px;
	height: 50px
}

nav{
	display:flex;
	gap:2rem;
}